:root {
  --primary-color: rgba(156, 156, 227, 0.836);
  --secondary-color: rgba(47, 9, 201, 0.863);
  --shadow: -5px 5px 10px 5px rgba(29, 22, 22, 0.801);
}

body {
  background: var(--primary-color);
  height: auto;
  overflow: scroll;
  margin: 10px;
}
.section {
  width: auto;
}
.btn {
  background: rgba(15, 0, 0, 0.534);
  padding: 10px 25px;
  border: 1px solid red;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.container {
  width: auto;
  /* margin: 5px; */
}
.icons {
  display: flex;
  width: auto;
  justify-content: space-between;
  background-color: rgba(0, 255, 255, 0.397);
  padding: 5px;
  margin: 0;
}
.font-icons ul {
  font-size: 25px;
}
.navBar {
  color: wheat;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: auto;
  background: var(--secondary-color);
  padding: 5px;
  margin-bottom: 5px;
}
.navbarItems {
  display: flex;
  gap: 2rem;
  padding: 2px;
}
.navbarItems div {
  margin-right: 2rem;
}

.navbarItems div:hover {
  cursor: pointer;
  /* background: #ca9797; */
  transform: scale(1.6);
  color: rgb(71, 7, 7);
}
.logo img {
  height: 200px;
  width: 150px;
  padding-top: 20px;
}

.hero {
  background: url(./assets/bg3.jpg) no-repeat center;
  height: 60vh;
  width: auto;
  background-size: cover;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  width: 460px;

  background: rgba(0, 0, 0, 0.74);
  color: #dfc4c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content hr {
  width: 80%;
}

.latest {
  width: auto;
  background: var(--primary-color);
  background: url(./assets/heroBackground.jpg) no-repeat center;
  background-size: cover;

  color: black;
  font-size: larger;
  padding: 5px;
  margin: 5px;
}

.container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  gap: 1rem;
}

.articles {
  width: 70%;
}
article {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow);
  background: rgba(255, 255, 255, 0.438);
  gap: 16px;
  margin-bottom: 15px;
  border-radius: 10px;
}
article .img {
  width: 450px;
  padding: 10px;
  border-radius: 10px;
}
article .btn {
  float: right;
  padding-right: 5px;
}
.sidelinks {
  width: 34%;
}

.country {
  background: #8d8f19a8;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.date {
  background: #9fa11e67;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.footer {
  height: 200px;
  width: auto;
  background-color: var(--secondary-color);

  margin: 5px;
  padding-top: 5px;
}
.card-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 10px;
}
.card {
  width: 360px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 20px 20px 0 20px;
  flex-grow: 1;
}
.card img {
  border-radius: 10px 10px 0 0;
}
.card button {
  color: rgb(230, 221, 221);
  width: 100%;
  background-color: rgb(107, 5, 5);
}
.card .btn:hover {
  transform: scale(1.01);
}
.suscribtion {
  background-color: rgba(0, 255, 255, 0.507);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.suscribtion .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.suscribtion .btn {
  margin-left: 20px;
}
.suscribtion .btn:hover {
  transform: scale(1.03);
}

.suscribtion input {
  line-height: 42px;
  padding: 5px 10px;
  border: 4px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}
.footer {
  margin-bottom: 20px;
  color: white;
  border-radius: 10px;
}

.footer h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-right: 20px;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (width>600px) and (width < 992px) {
  .navBar {
    width: auto;
  }
  .navbarItems {
    font-size: small;
  }
  .logo img:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  .navbarItems div:hover {
    transform: scale(1.5);
    color: red;
  }
  .hero {
    height: 50vh;
    padding: 10px;
  }
  .hero-content {
    width: 60%;
  }
  .latest {
    font-size: medium;
  }
  .container h2 {
    font-size: 1.5rem;
  }
  .main {
    flex-direction: column;
  }
  .articles {
    width: 100%;
  }
  .sidelinks {
    width: 100%;
  }
  .card-list {
    flex-direction: column;
  }
  .card {
    width: 95%;
  }

  .container input {
    width: 95%;
    margin: 10px;
  }
  .container button {
    width: 95%;
    margin: 10px;
  }
  .footer {
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .navBar {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .navbarItems {
    flex-direction: column;
    gap: 10px;
  }
  .navbarItems div:hover {
    transform: scale(1.3);
    color: red;
  }

  .navbarItems div {
    margin-right: 0;
  }
  .logo img {
    height: 200px;
    width: 150px;
  }
  .logo img:hover {
    transform: scale(1.4);
  }

  .hero {
    height: 40vh;
    padding: 5px;
  }
  .hero-content {
    width: 90%;
  }
  .latest {
    font-size: medium;
    padding: 10px;
    margin: 5px;
  }
  .main {
    flex-direction: column;
  }
  .articles {
    width: 100%;
  }
  .sidelinks {
    width: 100%;
  }
  .suscribtion input {
    width: 95%;
    margin: 10px;
  }
  .suscribtion .btn {
    width: 98%;
  }
  .footer {
    height: auto;
    padding: 10px;
  }
}
